body {
    background-color: #f0f5f9; /* Light blue background color */
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff; /* White container background color */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #1e90ff; /* Blue heading color */
}

form {
    margin-bottom: 20px;
}

textarea {
    width: 95%;
    height: 100px; /* Increased height for the textbox */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #1e90ff; /* Blue submit button background color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #007acc; /* Darker blue color on hover */
}

#shortUrl {
    margin-top: 20px;
    color: #1e90ff; /* Blue color for the shortened URL text */
}

#copyButton {
    background-color: #1e90ff; /* Blue copy button background color */
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

#copyButton:hover {
    background-color: #007acc; /* Darker blue color on hover */
}
.copied-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #4caf50; /* Green background color */
    color: white;
    text-align: center;
    padding: 10px;
    z-index: 9999; /* Ensure it's above other content */
}
